/*
Notes
*/

.note{
	background: #FAFAFA;
	border-left: 3px solid #DDDDDD;
	border-right: 0 solid #DDDDDD;
	margin-bottom: 20px;
	padding: 20px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		margin-top: 0;
	}
}

// Colors
.note.note-success{
	@include pixel-note-mixin($success-color, lighten(#DFF0D8, 7%));
}

.note.note-danger{
	@include pixel-note-mixin($danger-color, lighten(#F2DEDE, 6%));
}

.note.note-warning{
	@include pixel-note-mixin($warning-color, lighten(#F9F1C7, 5%));
}

.note.note-info{
	@include pixel-note-mixin($info-color, lighten(#D9EDF7, 7%));
}